/*imports*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*fontSizes*/
/*font weights*/
/*fontStyle*/
/***/
/***/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/ty9dfvLAziwdqQ2dHoyjphTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/frNV30OaYdlFRtH2VnZZdhTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/gwVJDERN2Amz39wrSoZ7FxTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/aZMswpodYeVhtRvuABJWvBTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/VvXUGKZXbHtX_S_VCTLpGhTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/e7MeVAyvogMqFwwl61PKhBTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(https://fonts.gstatic.com/s/roboto/v16/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/s7gftie1JANC-QmDJvMWZhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/3Y_xCyt7TNunMGg0Et2pnhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/WeQRRE07FDkIrr29oHQgHBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/jyIYROCkJM3gZ4KV00YXOBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/phsu-QZXz1JBv0PbFoPmEBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/9_7S_tWeGDh5Pq3u05RVkhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(https://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.bottomsectionpage {
  background: url("../img/footerImage.jpg") center center no-repeat;
  width: 100%;
  height: 450px;
  background-size: cover;
  margin: 100px auto auto auto;
}

.topstripe {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.topstripe nav {
  padding: 0px;
  margin: 0px;
}
.topstripe__list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 40px 0 0 0;
}
.topstripe__list--item {
  margin: 0 20px 0 0;
}
.topstripe__list--item a {
  font: 500 1em "Lato", sans-serif;
  text-transform: uppercase;
  color: #a8a8a8;
  text-decoration: none;
}
.topstripe__list--item a:hover {
  font-weight: 700;
  color: #000;
}
.topstripe__list .fa {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: #a8a8a8;
}

.slide {
  background: url("../img/mainimg.jpg") center center no-repeat;
  height: 700px;
  width: 100%;
  background-size: cover;
}
.slide__head {
  padding: 213px 0 0 0;
  font: 700 3.75em "Lato", sans-serif;
  color: #fff;
  margin: 0;
}
.slide__text {
  font: 400 1em "Lato", sans-serif;
  color: #fff;
  line-height: 35px;
  display: block;
  width: 60%;
  text-align: justify;
}
.slide__button {
  margin: 70px 0 0 0;
  width: 20%;
  height: 50px;
  color: #000;
  text-transform: uppercase;
  display: block;
  background: #fff;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font: 'Lato', sans-serif;
}
.slide__button .fa-arrow-right {
  font-size: 20px;
  margin: 0 0 0 20px;
}
.slide__button:hover {
  background: lightgrey;
  transition: all 350ms ease-in;
}

.welcome {
  margin: 0 auto 50px auto;
}
.welcome__logo {
  display: block;
  margin: 0px auto 21px auto;
  text-align: center;
}
.welcome__header {
  text-align: center;
}
.welcome__text {
  text-align: center;
  font: 400 1em "Lato", sans-serif;
  color: #a8a8a8;
  line-height: 40px;
  margin: 40px auto 50px auto;
}
.welcome__box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 250px;
  margin: 0 12px;
  -ms-flex-pack: center;
      justify-content: center;
}

.box__element--image {
  text-align: center;
  display: block;
  margin: 0 auto 0px;
  position: relative;
  top: -45px;
  background: #fff;
}
.box__element--head {
  text-align: center;
  font: 400 1.125em "Lato", sans-serif;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #000;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.box__element {
  padding: 14px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.box__element:hover {
  transition: all 350ms ease-in;
  border: 1px solid #000;
}
.box__element p {
  text-align: center;
  line-height: 30px;
  display: block;
  color: #8e8e8e;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.box__element--button {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
.box__element--button .fa {
  margin: 0 0 0 20px;
}

.about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto auto 60px auto;
}
.about__text {
  margin: 0 0 0 60px;
}
.about__text--head {
  font: 400 1.875em "Lato", sans-serif;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 20px 0;
}
.about__text--textbig {
  font: 400 1em "Lato", sans-serif;
  color: #8e8e8e;
  text-align: justify;
  line-height: 25px;
}
.about__text--textbig2 {
  font: 400 1em "Lato", sans-serif;
  color: #8e8e8e;
  text-align: justify;
  line-height: 25px;
}
.about__text--button {
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  font: 400 1em "Lato", sans-serif;
  color: #000;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
}
.about__text--button:hover {
  background: grey;
  opacity: 0.9;
  transition: all 350ms ease-in;
}

.recent {
  background: #f8f8f8;
}
.recent__head {
  text-align: center;
  margin: 0 auto 100px;
  display: block;
  cursor: pointer;
}
.recent__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto auto 60px auto;
}
.recent__list--item {
  margin: 0 30px;
}
.recent__list--item a {
  font: 400 1em "Lato", sans-serif;
  color: #8e8e8e;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #f8f8f8;
  padding: 5px 10px;
}
.recent__list--item a:hover {
  border: 1px solid #000;
  color: #000;
  padding: 5px 10px;
}
.recent__box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto 18px 15px auto;
}
.recent__box img {
  cursor: pointer;
}
.recent__box img:hover {
  background: #000;
  opacity: 0.9;
  transition: all 450ms ease-in;
}

.chose__header {
  text-align: center;
  display: block;
  margin: 0 auto 93px;
  text-align: center;
  cursor: pointer;
}
.chose__box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 333px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
  margin: auto 33px 20px auto;
  -ms-flex-pack: center;
      justify-content: center;
}
.chose__box--img {
  width: 15%;
}
.chose__box--text {
  font: 400 1em "Lato", sans-serif;
  color: #cccccc;
  text-align: justify;
  line-height: 30px;
}
.chose__box--head {
  font: 700 1.125em "Lato", sans-serif;
  text-transform: uppercase;
}

.work {
  background: url("../img/workBg.jpg") center center no-repeat;
  background-size: cover;
  height: 742px;
}

.workitems {
  padding: 100px 0 0 0;
}
.workitems__header {
  margin: 0 auto 60px;
  text-align: center;
  display: block;
}
.workitems__box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 18px auto auto;
  -ms-flex-flow: column;
      flex-flow: column;
}
.workitems__box--text {
  width: 100%;
  background: #fff;
}
.workitems__box--text__head {
  font: 700 1.125em "Lato", sans-serif;
  color: #333333;
  margin: 10px 0 5px 10px;
  padding: 0;
}
.workitems__box--text__smalltext {
  font: 700 1em "Lato", sans-serif;
  color: #b8b8b8;
  margin: 0 0 10px 10px;
  padding: 0;
}

.pricing__heading {
  text-align: center;
  display: block;
  margin: 0 auto 50px 0;
}
.pricing__box {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: column;
      flex-flow: column;
}
.pricing__box--header {
  font: 700 1.125em "Lato", sans-serif;
  text-transform: uppercase;
  color: #000;
  width: 30%;
  position: relative;
  top: 28px;
  left: 10px;
  z-index: 18;
  background: #fff;
}
.pricing__box--headersec {
  font: 700 1.125em "Lato", sans-serif;
  text-transform: uppercase;
  color: #000;
  width: 45%;
  position: relative;
  top: 28px;
  left: 10px;
  z-index: 9999;
  background: #fff;
}
.pricing__box--list {
  list-style: none;
  margin: 0px;
  padding: 25px;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.pricing__box--list:hover {
  border: 1px solid #000;
  transition: all 250ms ease-in;
}
.pricing__box--list__item {
  margin: 21px 0 23px 0;
  font: 400 1.125em "Lato", sans-serif;
  color: #cccccc;
}
.pricing__box--list__item span {
  font-size: 1.25em;
  font-weight: 700;
  color: #333333;
}
.pricing__box--list__item a {
  font: 400 1.125em "Lato", sans-serif;
  color: #cccccc;
  text-decoration: none;
}
.pricing__box--list__button a {
  width: 100%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  display: block;
  color: #333333;
  text-transform: uppercase;
  font: 400 1.125em "Lato", sans-serif;
}
.pricing__box--list__button a:hover {
  background: lightgrey;
  transition: all 250ms ease-in;
}
.pricing__box--list__button a span {
  line-height: 40px;
  margin: 0 0 0 30px;
}

.newsletterbg {
  background: #f8f8f8;
  min-height: 100px;
  margin: 100px 0 0 0;
}

.newsletter {
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 50px auto;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.newsletter__text {
  font: 400 1.125em "Lato", sans-serif;
  color: #333333;
  line-height: 80px;
  text-transform: uppercase;
}
.newsletter__button {
  margin: 25px 0 0 0;
  font: 400 1em "Lato", sans-serif;
  border: 1px solid #000;
  width: 196px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}
.newsletter__button:hover {
  background: grey;
  transition: all 350ms ease-in;
}
.newsletter__button .fa {
  margin: 0 0 0 20px;
  font-size: 20px;
}

.testimonialssmall {
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #cccccc;
  padding: 30px;
}

.contenttes {
  margin: 0 0 0 30px;
}
.contenttes__head {
  font: 700 1.125em "Lato", sans-serif;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding: 0;
}
.contenttes__firsttext {
  font: 400 1.125em "Lato", sans-serif;
  margin: 10px auto 12px auto;
  padding: 0;
  color: #8e8e8e;
}
.contenttes__functionperson {
  font: 700 1em "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}
.contenttes__smalltext1 {
  font: 300 1em "Lato", sans-serif;
  color: #8e8e8e;
  text-align: justify;
  line-height: 25px;
}

.agency {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: column;
      flex-flow: column;
}
.agency__logo {
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 10%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.agency__text {
  text-align: center;
  color: #fff;
  width: 20%;
  margin: 15px auto 14px auto;
  line-height: 30px;
}
.agency__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
  margin: 40px 0 100px 0;
}
.agency__list--item {
  margin: 0 20px 0 0;
  border: 1px solid #fff;
}
.agency__list--item a {
  padding: 10px;
  color: #fff;
  font-size: 1.875em;
  text-decoration: none;
}
.agency__list--item a:hover {
  color: #000;
  background: #fff;
}

.contactForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}
.contactForm__header {
  font: 400 1.875em "Lato", sans-serif;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto auto auto;
  padding: 0px;
  position: relative;
  top: -50px;
  background: #fff;
  z-index: 19;
  width: 25%;
}

/**/
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.errorfield {
  display: block;
}

.errorfieltextarea {
  display: block;
  margin: 15px auto 20px auto;
}

.errorfieldmail {
  display: block;
  margin: 15px auto 20px auto;
}

/**/
.contactForm {
  border: 1px solid #cccccc;
  padding: 30px;
  margin: 60px auto auto auto;
}

.userForm__name {
  width: 45%;
  height: 51px;
  margin: 15px auto 17px auto;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid grey;
}
.userForm__lastname {
  width: 45%;
  height: 51px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid grey;
}
.userForm__email {
  width: 45%;
  margin: 15px auto 17px auto;
  height: 51px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid grey;
  border-top: 0px;
}
.userForm__textarea {
  width: 45%;
  height: 151px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid grey;
}
.userForm__submitbutton {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid grey;
  width: 46%;
  height: 50px;
  background: none;
  border: 1px solid #000;
  cursor: pointer;
  margin: 20px 0 0 0;
  text-transform: uppercase;
}

footer {
  border-top: 1px solid #fff;
}

.socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.socials__text {
  color: #fff;
  margin: 35px 0 0 0;
}
.socials__list {
  list-style: none;
  margin: 35px 0 0 0;
  display: -ms-flexbox;
  display: flex;
}
.socials__list--item {
  margin: 0 20px 0 0;
}
.socials__list--item a {
  color: #fff;
  text-decoration: none;
}

/**/
.active {
  display: block !important;
}

#nav-icon1 {
  display: none;
  width: 60px;
  float: right;
  position: relative;
  margin: 0px auto;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #a8a8a8;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
}

.arrowUp {
  position: fixed;
  right: 0px;
  padding: 5px;
  font-size: 20px !important;
  top: 95%;
  border: 1px solid #000;
  cursor: pointer;
  z-index: 99;
  background: #fff;
}

/**/
.active {
  display: block;
  transition: all 350ms ease-in;
}

.fixedmenu {
  position: fixed !important;
}

/**/
.slidesbig {
  position: relative;
  width: 100%;
}

.slidesbig > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
