/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {
   
}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1365px) {
    .topstripe__logo {
        margin: 0 0 0 5px;
    }
    .topstripe__list {
        margin: 40px 5px 0; 
    }
    /**/
    .slide__head {
        padding: 213px 0 0 10px;
    }
    .slide__text {
        margin:  0 0 0 10px;
    }
    .slide__button {
        margin: 70px 0 0 10px;
    }
    /**/
    .pricing__heading {
        margin: 0 auto;
    }
    /**/
    .welcome__box {
        width: 22%;
    }
    .box__element p {
        font-size: 0.850em;
    }
    .box__element--head {
        font-size: 0.850em;
    }
    .recent__box img{
        max-width: 33%;
    }
    .recent__box {
        display: inline;
        margin: 0 auto;
        text-align: center;
    }
    /**/
    .testimonialssmall {
        padding: 0px;
    }
    /**/
    .chose__box {
        width: 29%;
        margin: 0 15px 20px 16px;
        text-align: center;
    }
    .chose__box--img {
        width: 15%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    /**/
   .contactForm {
       padding: 0px;
   }
   .work {
       height: auto;
   }
   .workitems__box {
       justify-content: space-around;
       margin: 0 auto 20px 10px;
       text-align: center;
       width: 23%;
   }
   /**/
   .pricing__box {
       width: 95%;
       margin: 0 auto;
       display: flex;
   }
   /**/
   /**/
   .contact {
       width: 95%;
       margin: 0 auto;
       text-align: center;
   }
   .testimonialssmall {
       width: 95%;
       margin: 0 auto;
       text-align: center;
   }
   /**/
   .agency__text {
        width: 30%;
    }
   /**/
   .socials__text {
        margin: 20px 0 0 10px;
   }
   .socials__list {
          margin: 20px 0 0; 
   }
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
    .agency__text {
        width: 30%;
    }
    /**/
    .slidertext {
        transition:all 250ms ease-in;
    }
    /**/
    .topstripe__logo {
        margin: 0 0 0 10px;
        transition:all 250ms ease-in;
    }
    #nav-icon1 {
        display: block;
        right: 10px;
        top: 12px;
        z-index: 9999;
        margin: 0;
        width: 40px;
    }
    .topstripe__list{
        display: none;
    }
    /**/
    .slide__head {
        text-align: center;
        transition:all 250ms ease-in;
    }
    .slide__text {
        text-align: center;
        margin: 15px auto 16px auto;
        transition:all 250ms ease-in;
        width: 95%;
    }
    .slide__button {
        margin: 60px auto auto auto;
        transition:all 250ms ease-in;
        width: 30%;
    }
    /**/
    .welcome__text {
        width: 95%;
        text-align: justify;
    }
    .welcome__box {
        width: 47%;
        margin: 15px auto 17px 18px;
    }
    /**/
    .testimonialssmall {
        flex-direction: column;
        padding: 0px;
        margin: 0 auto;
        border: 0px;
    }
    .testimonialssmall img {
        max-width: 50%;
        height: 300px;
        margin: 0 auto;
        text-align: center;
    }
    /**/
    .about {
        flex-direction: column;
    }
    .about__image {
        width: 100%;
    }
    .about__text {
        text-align: center;
        margin: 20px auto;
    }
    .about__text--button {
        width: 20%;
        margin: 0 0 0 30px;
    }
    /**/
    .contactForm {
        margin: 0 auto;
        padding: 0px;
        border:0px;
    }
    .about__text--textbig {
        text-align: justify;
        width: 95%;
        margin: 0 auto;
    }
    .about__text--textbig2 {
         text-align: justify;
        width: 95%;
        margin: 15px auto;
    }
    /**/
    /**/
    .recent__box {
        width: 49%;
        margin: 0;
        justify-content: center;
    }
    .recent__list--item a {
        border:0px;
    }
    .recent__list--item a:hover {
        border:0px;
    }
    /**/
    /**/
    .chose__box {
        width: 45%;
        text-align: center;
        margin: 2%;
    }
    .chose__box--img {
        margin: 0 auto;
        text-align: center;
    }
    /**/
    .work {
        height: auto;
    }
    .workitems__box img {
        width: 100%;
    }
    .workitems__box {
        width: 21%;
        margin: 13px;
        justify-content: space-around;
    }
    .workitems__box--text__head {
        font-size: 0.950em;
        text-align: center;
        margin: 10px auto 11px auto;
    }
    .workitems__box--text__smalltext {
        font-size: 0.950em;
        text-align: center;
        margin: 10px auto 11px auto;
    }
    /**/
    .pricing__box {
        width: 48%;
        margin: 0 0 0 10px;
    }
    /**/
    .contactForm__header {
        top: 0px;
    }
    .contenttes {
        margin: 0 auto 20px;
        width: 70%;
    }
    .userForm__email, .userForm__lastname, .userForm__name {
        width: 70%;
    }
    .userForm__textarea {
        width: 70%;
    }
    /**/
    .agency__text {
        width: 50%;
    }
    .agency__logo {
        max-width: 30%;
    }
    .socials__text {
        margin: 35px 0 0 10px;
        font-size: 0.850em;
    }
     /**/
      #nav-icon1 {
        display: block;
        right: 10px;
        top: 37px;
        z-index: 9999;
        margin: 0;
        width: 40px;
    }
    #nav-icon1 span {
        height: 5px;
    }
     #nav-icon1 span:nth-child(3) {
        top: 20px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 10px;
    }
      #nav-icon1.open span:first-child {
        top:15px;
    }
    #nav-icon1.open span:nth-child(3) {
        top:15px;
    }
    /**/
     /**/
      #nav-icon1 {
        display: block;
        right: 10px;
        top: 37px;
        z-index: 9999;
        margin: 0;
        width: 40px;
    }
    #nav-icon1 span {
        height: 5px;
    }
     #nav-icon1 span:nth-child(3) {
        top: 20px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 10px;
    }
      #nav-icon1.open span:first-child {
        top:15px;
    }
    #nav-icon1.open span:nth-child(3) {
        top:15px;
    }
     .topstripe__list {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        left: 0;
        opacity: 0.9;
        padding: 70px 0 900px;
        margin: 0 auto;
        background: #fff;
    }
    .topstripe__list{
        display: none;
    }
    .topstripe__list--item {
        margin: 50px auto 20px;
    }
    .topstripe__list--item a {
        font-size: 20px;
        text-align: center;
    }
    .topstripe__list .fa {
         font-size: 35px;
    }
    .topstripe__list {
        flex-direction: column;
        text-align: center;
    }
    /**/
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
     .topstripe__logo {
        margin: 0 0 0 5px;
        transition:all 250ms ease-in;
    }
    #nav-icon1 {
        display: block;
        right: 10px;
        top: 12px;
        z-index: 9999;
        margin: 0;
        width: 40px;
    }
    .topstripe__list{
        display: none;
    }
        /**/
    .slide__head {
        text-align: center;
        padding: 150px 0 20px 0;
        font-size: 2em;
    }
    .slide__text {
        text-align: center;
        width: 100%;
        font-size: 0.950em;
    }
    .slide__button {
        margin: 0 auto;
        width: 45%;
    }
    /**/
    .welcome__box {
        margin: 0 auto 40px;
        width: 95%;
        display: flex;
        justify-content: center;
    }
    .welcome {
        margin: 0 auto 10px;
    }
    /**/
    .recent__head {
        margin: 0 auto 40px;
    }
    .recent__list--item {
        text-align: center;
        margin: 10px auto;
    }
    .recent__box {
        margin: 0 auto 15px;
        justify-content: center;
        display: flex;
    }
    /**/
    .about {
        flex-direction: column;
    }
    .about__image {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        display: block;
    }
    .about__text {
        width: 88%;
        margin: 15px auto;
        text-align: center;
    }
    /**/
    .chose__box--img {
        margin: 0 auto;
    }
    .chose__box {
        text-align: center;
        margin: 1px auto 10px 15px;
        width: 95%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    /**/
    .work {
        height: auto;
    }
    .workitems__box img {
        width: 100%;
    }
    .workitems__box {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 15px;
    }
    .workitems__box--text__head {
        font-size: 0.850em;
        margin: 10px auto 11px;
        text-align: center;
    }
    .workitems__box--text__smalltext {
         font-size: 0.850em;
        margin: 10px auto 11px;
        text-align: center;
    }
    /**/
    /**/
    .pricing__box {
        width: 95%;
        margin: 0 auto;
    }
    /**/
    .recent__list--item a {
        border: 0px;
    }
    .recent__list--item a:hover{
        border: 0px;
    }
    .recent__list {
        flex-direction: column;
    }
    /**/
    .bottomsectionpage {
        height: auto;
    }
    /**/
    .socials__text {
        font-size: 0.850em;
    }
    .agency__logo {
        max-width: 50%;
    }
    .agency__text {
        width: 80%;
    }
    /**/
    .pricing__box {
        display: flex;
        flex-direction: column;
    }
    /**/
    /**/
    .newsletter {
        flex-direction: column;
        text-align: center;
    }
    .newsletter__button {
        margin: 5px auto 15px;
        display: block;
        text-align: center;
        width: 95%;
    }
    /**/
    .testimonialssmall img {
        width: 70%;
        margin: 15px auto;
        text-align: center;
    }
    .contenttes {
        margin: 0 auto;
        width: 95%;
        text-align: justify;
    }
    .testimonialssmall{
        flex-direction: column;
        padding: 0;
        margin: 0;
        border: 0px;
    }
    /**/
    .contactForm{
        border:0px;
        margin: 0 auto;
        padding: 0;
    }
    .contactForm__header {
        top: 0px;
    }
    .userForm__textarea {
        width: 90%;
    }
    .userForm__email, .userForm__lastname, .userForm__name {
        width: 90%;
    }
    .contactForm__header {
        width: 90%;
    }
    /**/
    .socials{
        flex-direction: column;
    }
    .socials__text {
        text-align: center;
    }
    .socials__list {
        flex-direction: column;
        text-align: center;
        margin: 15px auto 16px auto;
    }
    .socials__list--item {
        margin: 15px auto 16px auto;
    }
    /**/
      #nav-icon1 {
        display: block;
        right: 10px;
        top: 37px;
        z-index: 9999;
        margin: 0;
        width: 40px;
    }
    #nav-icon1 span {
        height: 5px;
    }
     #nav-icon1 span:nth-child(3) {
        top: 20px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 10px;
    }
      #nav-icon1.open span:first-child {
        top:15px;
    }
    #nav-icon1.open span:nth-child(3) {
        top:15px;
    }
     .topstripe__list {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        left: 0;
        opacity: 0.9;
        padding: 70px 0 900px;
        margin: 0 auto;
        background: #fff;
    }
    .topstripe__list{
        display: none;
    }
    .topstripe__list--item {
        margin: 50px auto 20px;
    }
    .topstripe__list--item a {
        font-size: 20px;
        text-align: center;
    }
    .topstripe__list .fa {
         font-size: 35px;
    }
    .topstripe__list {
        flex-direction: column;
        text-align: center;
    }
    /**/
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
    #nav-icon1 {
        display: block;
        right: 10px;
        top: 15px;
        z-index: 9999;
        margin: 0;
        width: 40px;
    }
    .topstripe__list {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        left: 0;
        opacity: 0.9;
        padding: 70px 0 900px;
        margin: 0 auto;
        background: #fff;
    }
    #nav-icon1.open span:first-child {
        top:15px;
    }
    #nav-icon1.open span:nth-child(3) {
        top:15px;
    }
    .topstripe__list{
        display: none;
    }
    .topstripe__list--item {
        margin: 50px auto 20px;
    }
    .topstripe__list--item a {
        font-size: 20px;
        text-align: center;
    }
    .topstripe__list .fa {
         font-size: 35px;
    }
    .topstripe__list {
        flex-direction: column;
        text-align: center;
    }
    #nav-icon1 span {
        height: 5px;
    }
    .topstripe__logo {
        margin: 0 0 0 10px;
        width: 60%;
    }
    #nav-icon1 span:nth-child(3) {
        top: 20px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 10px;
    }
    /**/
    .slide__head {
        text-align: center;
        padding: 150px 0 20px 0;
        font-size: 2em;
    }
    .slide__text {
        text-align: center;
        width: 100%;
        font-size: 0.950em;
    }
    .slide__button {
        margin: 0 auto;
        width: 80%;
        
    }
    /**/
    /**/
    .welcome__text {
        width: 95%;
        margin: 0 auto;
        font-size: 0.950em;
    }
    .welcome__box {
        justify-content: center;
        margin: 40px auto auto auto;
        text-align: center;
        width: 100%;
    }
    .welcome__logo {
        max-width: 100%;
    }
    /**/
    /**/
    .about {
        flex-direction: column;
    }
    .about__image {
        max-width: 100%;
    }
    .about__text {
        margin: 15px auto;
        text-align: center;
    }
    .about__text--button {
        width: 75%;
        margin: 0 auto;
    }
    .about__text--textbig {
        width: 95%;
        margin: 0 auto;
    }
    .about__text--textbig2 {
         width: 95%;
        margin: 15px auto 14px;
    }
    /**/
    /**/
    .recent__head {
            margin: 0 auto 30px;
    }
    .recent__list {
        flex-direction: column;
        text-align: center;
    }
    .recent__box {
        flex-direction: column;
    }
    .recent__list--item {
        margin: 0 0 25px 0;
    }
    .recent__list--item a {
        border:0px;
    }
    .recent__list--item a:hover {
         border:0px;
    }
    .recent__box img {
        max-width: 100%;
    }
    .recent__list {
        margin: 0 0 20px 0;
    }
    .recent__box {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    /**/
    .chose__box {
        display: flex;
        border-bottom: 0px;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .chose__box--img {
        display: block;
        margin: 0 auto;
    }
    .chose__box--text {
        text-align: center;
        margin: 0 auto;
    }
    .chose__header img {
        max-width: 100%;
    }
    .chose__header {
        margin:  0 0 20px 0;
    }
    /**/
    .work {
        height: auto;
    }
    .workitems {
        padding: 0;
    }
    
    /**/
    .pricing__box {
        text-align: center;
        margin: 0 auto;
        display: flex;
        width: 95%;
    }
    .workitems__box {
        text-align: center;
        margin: 0 auto 15px;
        display: flex;
        width: 95%;
    }
    .workitems__box img {
        width: 100%;
    }
    .workitems__box--text {
        width: 100%;
    }
    .workitems__header img {
        max-width: 100%;
    }
    /**/
    /**/
    .newsletter {
        flex-direction: column;
    }
    .newsletter__text {
        text-align: center;
        line-height: 30px;
    }
    .newsletter__button {
        width: 95%;
        margin: 0 auto 20px;
    }
    /**/
    /**/
    .contenttes {
        margin: 10px auto;
        text-align: center;
        width: 90%;
    }
    .testimonialssmall {
        flex-direction: column;
        border:0px;
        padding: 0px;
    }
    .testimonialssmall img{
        width: 70%;
        margin: 0 auto;
        height: auto;
    }
    /**/
    /**/
    .contactForm {
        border:0px;
        margin: 40px auto;
        padding: 0px;
    }
    .contactForm__header {
        width: 100%;
        margin: 0 0 -30px 0;
    }
    .userForm__name {
        width: 95%;
    }
    .userForm__lastname {
         width: 95%;
    }
    .userForm__email {
        width: 95%;
    }
    .userForm__textarea {
        width: 95%;
    }
    .userForm__submitbutton {
        width: 100%;
    }
    /**/
    /**/
    .agency__text {
        width: 95%;
    }
    .agency__logo {
        max-width: 50%;
    }
    .bottomsectionpage {
        height: auto;
    }
    .socials {
        flex-direction: column;
    }
    .socials__text {
        text-align: center;
    }
    .socials__list {
        margin: 35px 0 35px 0;
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }
    .socials__list--item {
        margin: 0 auto 15px;
    }
    .agency__list {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }
    .agency__list--item {
        margin: 0 0 15px;
    }
    .agency__list--item a {
        text-align: center;
        display: block;
    }
    /**/
}
/* PORTRAIT
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)   {
   
}
/* LANDSCAPE
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)   {
   
}