/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss'; 
@import '../sass/helpers/__fonts.scss'; 
@import '../sass/helpers/__pagewrapper.scss'; 
.bottomsectionpage {
   @include bottomsectionmixin;
}
.topstripe {
    @include topstripemainsettings;
    nav{
        @include topstripenav;
    }
    &__list {
        @include topstripelistmixin;
        &--item {
            margin: 0 20px 0 0;
            a {
               @include topstripelistamixin;
                &:hover {
                    @include topstripehover;
                }
            }
        }
        .fa {
           @include topstripesearch;
        }
    }
}
.slide {
  @include slidesettings;
    &__head {
        @include slidetexthead;
    }
    &__text{
       @include slidetext;
    }
    &__button {
       @include slidebutton;
        .fa-arrow-right {
            @include slidearrow;
        }
        &:hover {
           @include slidebuttonHover;
        }
    }
}
.welcome {
    margin: 0 auto 50px auto;
    &__logo {
        @include welcomelogo;
    }
    &__header {
        text-align: center;
    }
    &__text{
        @include welcometext;
    }
    &__box {
        @include welcomebox;
    }
}
.box__element{
    &--image {
       @include boxElementImage;
    }
    &--head {
       @include boxElementHead;
    }
}
.box__element{
    @include boxelementSettings;
    &:hover {
       @include boxelementSettingsHover;
    }
    p{
       @include boxelementSettingsp;
    }
    &--button {
        @include boxelementButton;
        .fa {
            margin: 0 0 0 20px;
        }
    }
}
.about {
    @include aboutsettings;
    &__text {
        margin: 0 0 0 60px;
        &--head { 
           @include abouthead; 
        }
        &--textbig{
            @include abouttextbig;
        }
        &--textbig2{
           @include abouttextbig2;
        }
        &--button{
           @include abouttextbutton;
           &:hover {
               background: grey;
               opacity: 0.9;
               transition: all 350ms ease-in;
           }
        }
    }
}
.recent{
    background: #f8f8f8;
    &__head {
       @include recenthead;
       cursor: pointer;
    }
    &__list {
       @include recetlist;
        &--item {
            margin: 0 30px;
            a {
             @include recenta;
                &:hover {
                   @include recenthover;
                }
            }
        }
    }
    &__box {
        @include recetbox;
        img {
            cursor: pointer;
            &:hover {
                background: #000;
                opacity: 0.9;
                transition:all 450ms ease-in;
            }
        }
    }
}
.chose {
    &__header{
       @include choseheader;
       cursor: pointer;
    }
    &__box {
        @include chosebox;
        &--img{
            width: 15%;
        }
        &--text {
            @include chosetext;
        }
        &--head{
           @include choseheadnext;
        }
    }
}
.work {
  @include worksettings;
}
.workitems{
    padding: 100px 0 0 0;
    &__header {
       @include workheading;
    }
    &__box{
        @include wrokbox;
        &--text{
            width: 100%;
            background: #fff;
            &__head {
               @include workboxhead;
            }
            &__smalltext{
                @include worksmallhead;
            }
        }
    }
}
.pricing {
    &__heading{
        @include pricinghead;
    }
    &__box {
        display: inline-flex;
        flex-flow: column;
        &--header {
          @include pricingheader;
        }
        &--headersec{
            @include headersec;
        }
        &--list{
            @include headerseclist;
            &:hover {
                border:1px solid #000;
                transition: all 250ms ease-in;
            }
            &__item{
                @include pricingitem;
                span {
                    font-size: em(20px);
                    font-weight: 700;
                    color: #333333;
                }
                a{
                    font: $normal-weight em(18px) 'Lato', sans-serif;
                    color: #cccccc;
                    text-decoration: none;
                }
            }
            &__button{
                a{
                    @include button;
                    &:hover {
                        background: lightgrey;
                        transition: all 250ms ease-in;
                    }
                    span {
                        line-height: 40px;
                        margin: 0 0 0 30px;
                    }
                }
            }
        }
    }
}
.newsletterbg {
  @include newsletterbg;
}
.newsletter {
   @include newslettersettings;
    &__text{
       @include newslettersettingstext;
    }
    &__button {
       @include newslettersettingsbutton;
       &:hover {
           background: grey;
           transition: all 350ms ease-in;
       }
        .fa {
            margin: 0 0 0 20px;
            font-size: 20px;
        }
    }
}
.testimonialssmall {
   @include testimonialssmall;
}
.contenttes {
    margin: 0 0 0 30px;
    &__head {
        @include contentteshead;
    }
    &__firsttext{
       @include contenttesfirsttext;
    }
    &__functionperson{
       @include contentsfunctionperson;
    }
    &__smalltext1 {
       @include contentsfunctionsmalltext1;
    }
}
.agency{
    @include agency;
    &__logo{
        @include agencylogo;
    }
    &__text{
        @include agencytext;
    }
    &__list {
        @include agencylist;
        &--item {
            margin: 0 20px 0 0;
            border:1px solid #fff;
            a {
               @include agencylistitema;
                &:hover {
                    color: #000;
                    background: #fff;
                }
            }
        }
    }
}
.contactForm {
    @include contactForm;
    &__header{
        @include contactFormheader;
    }
}
/**/
input.ng-invalid.ng-dirty {
    border:1px solid red;
}
.errorfield {
    display: block;
}
.errorfieltextarea {
    display: block;
    margin: 15px auto 20px auto;
}
.errorfieldmail {
    display: block;
    margin: 15px auto 20px auto;
}
/**/
.contactForm {
    border:1px solid #cccccc;
    padding: 30px;
    margin: 60px auto auto auto;
}
.userForm {
    &__name{
        @include userFormName;
    }
    &__lastname {
        @include userFormLastName;
    }
    &__email{
        @include userFormEmail;
    }
    &__textarea {
       @include userFormTextarea;
    }
    &__submitbutton {
       @include userFormButton;
    }
}
footer {
    border-top:1px solid #fff;
}
.socials {
    @include socials;
    &__text{
       @include socialslist;
    }
    &__list{
      @include sociallistlist;
        &--item{
            margin: 0 20px 0 0;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
/**/
.active {
    display: block !important;
}
#nav-icon1 {
    @include navicos;
}
#nav-icon1 span {
    @include navicosspan;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 18px;
}
#nav-icon1 span:nth-child(3) {
  top: 36px;
}
#nav-icon1.open span:nth-child(1) {
  @include nav-icon1open;
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  @include nav-icon12open;
}
.arrowUp {
    position: fixed;
    right: 0px;
    padding: 5px;
    font-size: 20px !important;
    top: 95%;
    border:1px solid #000;
    cursor: pointer;
    z-index: 99;
    background: #fff;
}
/**/
.active {
    display: block;
    transition:all 350ms ease-in;
}
.fixedmenu{
    position: fixed !important;
}
/**/
.slidesbig {
    position: relative; 
    width: 100%;   
}
.slidesbig > div {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}
