@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin bottomsectionmixin {
    background: url('../img/footerImage.jpg') center center no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
    margin: 100px auto auto auto;
}
@mixin topstripemainsettings {
    display: flex;
    justify-content: space-between;
}
@mixin topstripenav {
    padding: 0px;
    margin: 0px;
}
@mixin topstripelistmixin {
    display: flex;
    list-style: none;
    margin: 40px 0 0 0;
}
@mixin topstripelistamixin {
     font:$medium-weight em($font-size-sixteen_pixels) 'Lato', sans-serif;
     text-transform: uppercase;
     color: #a8a8a8;
     text-decoration: none;
}
@mixin topstripehover {
    font-weight: $bold-weight;
    color: #000;
}
@mixin topstripesearch {
     text-decoration: none;
     cursor: pointer;
     font-size: 20px;
     color: #a8a8a8;
}
/***/
/***/
@mixin slidesettings {
    background: url('../img/mainimg.jpg') center center no-repeat;
    height: 700px;
    width: 100%;
    background-size: cover;
}
@mixin slidetexthead {
    padding: 213px 0 0 0; 
    font:$bold-weight em(60px) 'Lato', sans-serif;
    color: #fff;
    margin: 0;
}
@mixin slidetext {
     font: $normal-weight em(16px) 'Lato', sans-serif;
     color: #fff;
     line-height: 35px; 
     display: block;
     width: 60%; 
     text-align: justify;
}
@mixin slidebutton {
    margin: 70px 0 0 0;
    width: 20%;
    height: 50px;
    color: #000;
    text-transform: uppercase;
    display: block;
    background: #fff;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font: 'Lato', sans-serif;
}
@mixin slidearrow {
    font-size: 20px;
    margin: 0 0 0 20px;
}
@mixin slidebuttonHover {
     background: lightgrey;
     transition: all 350ms ease-in;
}
/**/
/**/
@mixin welcomelogo {
    display: block;
    margin: 0px auto 21px auto;
    text-align: center;
}
@mixin welcometext {
    text-align: center;
    font: $normal-weight em(16px) 'Lato', sans-serif;
    color: #a8a8a8;
    line-height: 40px;
    margin: 40px auto 50px auto;
}
@mixin welcomebox {
    display: inline-flex;
    width: 250px;
    margin: 0 12px;
    justify-content: center;
}
@mixin boxElementImage {
     text-align: center;
     display: block;
     margin: 0 auto 0px;
     position: relative;
     top: -45px;
     background: #fff;
}
@mixin boxElementHead {
     text-align: center;
     font: $normal-weight em(18px) 'Lato', sans-serif;
     text-transform: uppercase;
     color: #333333;
     border-bottom: 1px solid #000;
     width: 50%;
     margin: 0 auto;
     padding-bottom: 10px;
}
@mixin boxelementSettings{
    padding: 14px;
    border:1px solid #cccccc;
    cursor: pointer;
}
@mixin boxelementSettingsHover {
    transition:all 350ms ease-in;
    border:1px solid #000;  
}
@mixin boxelementSettingsp{
    text-align: center;
    line-height: 30px;
    display: block;
    color: #8e8e8e;
    font-size: em(16);
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
@mixin boxelementButton {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #8e8e8e;
    text-transform: uppercase;
    font-size: em(18);
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
/**/
/**/
@mixin aboutsettings {
    display: flex;
    justify-content: space-around;
    margin: auto auto 60px auto;
}
@mixin abouthead{
    font: $normal-weight em(30px) 'Lato', sans-serif;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 20px 0;
}
@mixin abouttextbig {
    font: $normal-weight em(16px) 'Lato', sans-serif;
    color: #8e8e8e;
    text-align: justify;
    line-height: 25px;
}
@mixin abouttextbig2 {
     font: $normal-weight em(16px) 'Lato', sans-serif;
     color: #8e8e8e;
     text-align: justify;
     line-height: 25px;
}
@mixin abouttextbutton {
     width: 200px;
     height: 50px;
     border: 1px solid #000;
     font: $normal-weight em(16px) 'Lato', sans-serif;
     color: #000;
     text-transform: uppercase;
     display: block;
     text-decoration: none;
     line-height: 50px;
     text-align: center;
}
/**/
/**/
@mixin recenthead {
     text-align: center;
     margin: 0 auto 100px;
     display: block;
}
@mixin recetlist {
     display: flex;
     justify-content: center;
     list-style: none;
     padding: 0;
     margin: auto auto 60px auto;
}
@mixin recenta {
     font: $normal-weight em(16px) 'Lato', sans-serif;
     color: #8e8e8e;
     text-decoration: none;
     text-transform: uppercase;
     border:1px solid #f8f8f8;
     padding: 5px 10px; 
}
@mixin recenthover {
     border:1px solid #000;
     color: #000;
     padding: 5px 10px;
}
@mixin recetbox {
    display: inline-flex;
    margin: auto 18px 15px auto;
}
/**/
/**/
@mixin choseheader {
     text-align: center;
     display: block;
     margin: 0 auto 93px;
     text-align: center;
}
@mixin chosebox {
     display: inline-flex;
     flex-direction: column;
     width: 333px;
     border-bottom: 1px solid #cccccc;
     padding-bottom: 20px;
     margin: auto 33px 20px auto;
     justify-content: center; 
}
@mixin chosetext {
    font: $normal-weight em(16px) 'Lato', sans-serif;
    color: #cccccc;
    text-align: justify;
    line-height: 30px;
}
@mixin choseheadnext {
     font: $bold-weight em(18px) 'Lato', sans-serif;
     text-transform: uppercase;
}
/**/
@mixin worksettings {
    background: url('../img/workBg.jpg') center center no-repeat;
    background-size: cover;
    height: 742px;
}
@mixin workheading {
    margin: 0 auto 60px;
    text-align: center;
    display: block;
}
@mixin wrokbox{
    display: inline-flex;
    justify-content: space-between;
    margin: 0 18px auto auto;
    flex-flow: column;
}
@mixin workboxhead {
    font: $bold-weight em(18px) 'Lato', sans-serif;
    color: #333333;
    margin: 10px 0 5px 10px;
    padding: 0;
}
@mixin worksmallhead {
    font: $bold-weight em(16px) 'Lato', sans-serif;
    color: #b8b8b8;
    margin: 0 0 10px 10px;
    padding: 0;
}
/**/
@mixin pricinghead {
    text-align: center;
    display: block;
    margin: 0 auto 50px 0;
}
@mixin pricingheader {
    font: $bold-weight em(18px) 'Lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    width: 30%;
    position: relative;
    top: 28px;
    left: 10px;
    z-index: 18;
    background: #fff;
}
@mixin headersec {
    font: $bold-weight em(18px) 'Lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    width: 45%;
    position: relative;
    top: 28px;
    left: 10px;
    z-index: 9999;
    background: #fff;
}
@mixin headerseclist {
    list-style: none;
    margin: 0px;
    padding: 25px;
    border: 1px solid #cccccc;
    cursor: pointer;
}
@mixin button {
    width: 100%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border:1px solid #000;
    display: block;
    color: #333333;
    text-transform: uppercase; 
    font: $normal-weight em(18px) 'Lato', sans-serif;
}
@mixin pricingitem {
    margin: 21px 0 23px 0;
    font: $normal-weight em(18px) 'Lato', sans-serif;
    color: #cccccc;
}
/**/
/**/
@mixin newsletterbg{
    background: #f8f8f8;
    min-height: 100px;
    margin: 100px 0 0 0;
}
@mixin newslettersettings {
    display: flex;
    margin: 40px auto 50px auto;
    justify-content: space-between;
}
@mixin newslettersettingstext{
    font: $normal-weight em(18px) 'Lato', sans-serif;
    color: #333333;
    line-height: 80px;
    text-transform: uppercase;
}
@mixin newslettersettingsbutton {
    margin: 25px 0 0 0;
    font: $normal-weight em(16px) 'Lato', sans-serif;
    border: 1px solid #000;
    width: 196px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}
/**/
@mixin testimonialssmall {
    display: flex;
    border:1px solid #cccccc;
    padding: 30px;
}
@mixin contentteshead {
    font: $bold-weight em(18px) 'Lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
}
@mixin contenttesfirsttext{
    font: $normal-weight em(18px) 'Lato', sans-serif;
    margin: 10px auto 12px auto;
    padding: 0;
    color: #8e8e8e;
}
@mixin contentsfunctionperson {
    font: $bold-weight em(16px) 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}
@mixin contentsfunctionsmalltext1 {
    font: $light-weight em(16px) 'Lato', sans-serif;
    color: #8e8e8e;
    text-align: justify;
    line-height: 25px;
}
/**/
/**/
@mixin agency {
    display: flex;
    justify-content:center;
    flex-flow: column;
}
@mixin agencylogo {
    justify-content: center;
    max-width: 10%;
    text-align: center;
    display: block;
    margin: 0 auto; 
}
@mixin agencytext {
    text-align: center;
    color: #fff;
    width: 20%;
    margin: 15px auto 14px auto;
    line-height: 30px;
}
@mixin agencylist {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 40px 0 100px 0;
}
@mixin agencylistitema {
    padding: 10px;
    color: #fff;
    font-size: em($font-size-thirty_pixels);
    text-decoration: none;
}
/**/
/**/
@mixin contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@mixin contactFormheader{
    font: $normal-weight em(30px) 'Lato', sans-serif;
    text-transform: uppercase;
    color: #333333;
    margin: 0 auto auto auto;
    padding: 0px;
    position: relative;
    top: -50px;
    background: #fff;
    z-index: 19;
    width: 25%;
}
/**/
/**/
@mixin userFormName {
    width: 45%;
    height: 51px;
    margin: 15px auto 17px auto; 
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid grey;
}
@mixin userFormLastName{
    width: 45%;
    height: 51px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid grey;
}
@mixin userFormEmail {
    width: 45%;
    margin: 15px auto 17px auto;
    height: 51px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid grey;
    border-top: 0px;
}
@mixin userFormTextarea {
    width: 45%;
    height: 151px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid grey;
}
@mixin userFormButton {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid grey;
    width: 46%;
    height: 50px;
    background: none;
    border:1px solid #000;
    cursor: pointer;
    margin: 20px 0 0 0;
    text-transform: uppercase;
}
/**/
/**/
@mixin socials{
    display: flex;
    justify-content: space-between;
}
@mixin socialslist{
    color: #fff;
    margin: 35px 0 0 0;
}
@mixin sociallistlist{
    list-style: none;
    margin: 35px 0 0 0;
    display: flex;
}
/**/
@mixin navicos{
    display: none;
    width: 60px;
    float: right;
    position: relative;
    margin: 0px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
@mixin navicosspan{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #a8a8a8;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
@mixin nav-icon1open  {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
@mixin nav-icon12open {
     top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}